name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build Docker
        run: docker build -t imc-app .

      - name: Run tests
        run: docker run imc-app pytest